<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.neusoft.mapper.LinkmanInfoMapper">  
	<!-- private String uname;// 姓名

	private String idcard;

	private String tel;

	private String type; // 乘车人类型 1、学生 2、成人 3、儿童 4、军人

	private String email;

	private String email;

	private String idcard_no; -->

 <!-- 增加常用联系人 -->
   <insert id="add_linkman" parameterType="LinkmanInfo" >
     <selectKey order="AFTER" keyProperty="linkmanId" resultType="int" >
     	select last_insert_id()
     </selectKey>
     insert  into LinkmanInfo ( uname, idcard ,tel ,type,email,idcard_no)values(#{uname},#{idcard},#{tel},#{type},#{email},#{idcard_no})
   </insert>
 <!--删除联系人 -->
   <delete id="del_linkman"  parameterType="int" > 
     delete from linkmanInfo where linkmanId=#{linkmanId}
   </delete>
   
  <!-- 修改用户角色 -->
  <update id="update_linkman" parameterType="linkmaninfo">
  	update linkmanInfo set  tel ,type,email where linkmanId=#{linkmanId}
  </update>
  
  <select id="get_linkman_byId"  parameterType="int" resultType="linkmaninfo">
     select * from where linkmanid=#{linkmanid}
  </select>
   <select id="get_allLinkman"  parameterType="int" resultType="linkmaninfo">
     select * from where linkmanid=#{linkmanid}
  </select>
  
  
     <!-- 模糊查询 -->
  <select id="getuser_by_name" parameterType="map" resultType="userinfo">
  	select * from userinfo 
  	<where>
  		<include refid="getuser_fquery" />
  	</where>
  	limit #{beginRow} , #{pageSize}
  </select>
  
  <select id="get_count" parameterType="userinfo" resultType="int">
  	select count(*) from userinfo
  	<where>
  		<include refid="getuser_fquery" />
  	</where>
  </select>
  <sql id="getuser_fquery">
  	<if test="userName!=null and userName!='' ">
  		and userName like concat("%",#{userName},"%")
  	</if>
  </sql>
  
  <!-- 模糊查询完 -->
  	
  <!-- 修改用户角色 -->
  <update id="updateUserRole" parameterType="userinfo">
  	update userinfo set roleId = #{roleId} where id=#{id}
  </update>
  

  
  
  <resultMap id="userInfoResultMap"  type="com.neusoft.beans.UserInfo">
  	<id property="id" column="id" />
  	<result property="userName" column="uname" />
  	<result property="password" column="pwd" />
  </resultMap>
  
  <!-- 多条件查询 sql 片段 -->
  <sql id="getuser_condition"> 
  		<if test="id !=0">
	    	 and id=#{id}
    	</if>
    	<if test="userName!=null and userName!='' ">
    		 and userName=#{userName}
    	</if>
        <if test="password!=null and password!='' ">
    		 and password=#{password}
    	</if>
  </sql>
						
   <select  id="getuser_by_ids" resultType="userInfo" parameterType="list" >
	 	 select * from userInfo where id in
	 	 <foreach collection="list" item="id" open="(" close=")" separator=","  > 
	 	 	 #{id}
	 	 </foreach>
	</select>
	   
    <select id="get_userList" parameterType="userInfo" resultType="userInfo" >
    	select * from userInfo 
	    <where>
	    	<include refid="getuser_condition" />
    	</where>
    	<!-- and note='这都是n' -->  
    </select>

   <select id="get_login_user" parameterType="java.util.HashMap" resultMap="userInfoResultMap" >
   	  select id,userName as uname,password as pwd,note  from userInfo where userName=#{userName} and password= #{password}
   </select>
   
<!--    <select id="getuser_login" parameterType="map" resultType="userinfo">
   	  select * from userinfo where userName=#{userName} and password=#{password}
   	  select * from userinfo where (userName=#{userName} or email =#{userName}) and password=#{password}
   </select>
    -->
   
   <select id="getuser_byid" parameterType="int"  resultType="UserInfo" > 
   	 select * from userInfo where id=#{id}
   </select>
   
   <select id="getuser_byname" parameterType="string"    resultType="userInfo" >
   	 <!--  select * from userInfo where userName like #{value} -->
   	  select * from userInfo where userName like concat('%',#{name},'%') 
   </select>
   
   <insert id="add_user" parameterType="userInfo" >
     <selectKey order="AFTER" keyProperty="id" resultType="int" >
     	select last_insert_id()
     </selectKey>
   	insert into userInfo (userName,password,note) values (#{userName}, #{password},#{note}) 
   </insert>
   
   <delete id="del_user"  parameterType="int" > 
     delete from userInfo where id=#{id}
   </delete>
   
   <update id="upd_user" parameterType="userInfo">
   	 update userInfo set userName=#{userName}, password=#{password},note= #{note} where id=#{id}
   </update>
   
   
       <!--  登陆 -->
   <select id="getuser_login" parameterType="map" resultType="userinfo">
   	  select * from userinfo where （accountUser=#{userName} or tel =#{userName} or email =#{userName}）and password=#{password}
   </select>
   
   
   <select id="queryLinkByUser" parameterType="java.lang.String" resultType="com.neusoft.beans.LinkmanInfo">
   		select * from linkmaninfo where note = #{note}
   </select>
   <select id="queryCount" parameterType="java.lang.String" >
   		select count(*) from linkmaninfo where note=#{note}
   </select>
   <update id="updateLink" parameterType="java.util.HashMap">
   		update linkmaninfo set uname=#{uname} , idcard=#{idcard} , tel=#{phone} , type=#{type} where linkmanId=#{id}
   </update>
   
</mapper>
