<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.mapper.RailwayInfoMapper">
	<insert id="addRailway" parameterType="RailwayInfo">
     <selectKey order="AFTER" keyProperty="tid" resultType="int">
			select last_insert_id()
		</selectKey>
		INSERT INTO railway(tname,rid) values(#{tname},#{rid})

	</insert>
	<delete id="dele_Railway" parameterType="int">
		delete from railway where tid=#{tid}
	</delete>
    <select id="get_Count" resultType="int" >
		select count(*) from railway

	</select>
	

	<select id="get_select_Railway" resultType="RailwayInfo" parameterType="map">
		select * from Railway
	
		limit #{beginRow},#{pageSize}
	</select>
	
    <select id="get_select_allRailway" resultType="RailwayInfo" parameterType="map">
		select * from Railway
	</select>

</mapper>
