.but{
	width: 120px;  
    padding:8px;  
    background-color: #428bca;  
    border-color: #357ebd;  
    color: #fff;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px; /* future proofing */  
    -khtml-border-radius: 10px; /* for old Konqueror browsers */  
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:100% 
	
}
.col-num{
	width:70px;
}
.order-panel-head {
	width:100%;
    background: #F8F8F8;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
